@import 'tailwindcss';

body {
  background-color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow-x: hidden;
}

.container {
  margin-inline: auto;
  padding: 0 15px;
}

.contain {
  margin-inline: auto;
  padding: 0 140px;
}

.text-red {
  color: #cd4631;
}

.bg-red {
  background-color: #cd4631;
}

.text-gray {
  color: #4d4d4d;
}

.text-blue {
  color: #81adc8;
}

.bg-blue {
  background-color: #edf3f7;
}

.drop-shadow {
  box-shadow: 3px 3px 0 0 #00000041;
}

.primary-bg {
  background-color: #fff;
}

.secont-bg {
  background-color: #f7ede8;
}

.shadow-2:hover {
  box-shadow: 10px 10px 0 #81adc8;
}

.acsent-bg {
  background-color: #edf3f7;
}

@media (max-width: 1280px) {
  .contain {
    padding: 0 75px;
  }
}

@media (max-width: 1024px) {
  .contain {
    padding: 0 50px;
  }
}
@media (max-width: 769px) {
  .contain {
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('./fonts/MontserratAlternates-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('./fonts/MontserratAlternates-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
